.header {
    width: 100%;
    height: 70px;
    background-color: blue;
  }
  
  .form {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
  
  .input {
    width: 450px;
    height: 40px;
    border: none;
    border-radius: 18px;
    padding: 10px 10px 10px 40px;
  }
  
  .input:hover {
    cursor: pointer;
    box-shadow: 2px 1px 5px black;
  }
  
  .submitBtn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .submitBtn:hover {
    cursor: pointer;
    box-shadow: 2px 1px 5px black;
    color: red;
  }
  
  .btnIcon {
    width: 20px;
    height: 20px;
  }